/* --- Overall styling --- */
.center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orangered;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.fifty-width {
  width: 50vw;
}


/* --- Navigation Bar --- */
#navigation-bar {
  width: 100vw;
  height: 30px;
  padding: 10px;
  -moz-box-shadow:     0 0 10px rgb(200, 200, 200);
  -webkit-box-shadow:  0 0 10px rgb(200, 200, 200);
  box-shadow:          0 0 10px rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

#navigation-bar > #navbar-left > a,
#navigation-bar > #navbar-right > a {
  text-decoration: none;
}

#navigation-bar > #navbar-left > a > h2 {
  margin: 0;
}

#navbar-left {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
}

#navbar-right {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
}

/* --- Home/Register Page --- */

