/* --- Overall styling --- */
/* .teal {
  color: #00b5ad;
} 

wcag color compliant to replace teal: #00847D
*/

.center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin-top {
  margin-top: 3%;
}

/* .green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orangered;
} */ 

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.fifty-width {
  width: 50%;
}

button.ui.button {
  margin: 0;
}


/* --- Navigation Bar --- */
#navigation-bar {
  width: 100vw;
  height: 50px;
  box-shadow: 0 0 10px rgb(200, 200, 200);
  display: flex;
  justify-content: space-evenly;
  justify-content: baseline;
  text-decoration: none;
}

#navigation-bar > #navbar-left > a,
#navigation-bar > #navbar-right > a {
  text-decoration: none;
}

#navigation-bar > #navbar-left > a > h2 {
  margin: 0;
}

#navbar-left {
  width: 50%;
  margin: auto;
  margin-left: 3%;
  display: flex;
  justify-content: flex-start;
}

#navbar-left > a {
  width: 250px;
  display: inline-flex;
  align-items: center;
}

#navbar-left > a > img.ui.image {
  margin-right: 3%;
}

#navbar-right {
  width: 50%;
  margin: auto;
  margin-right: 3%;
  display: flex;
  justify-content: flex-end;
}

#navbar-right > a,
#navbar-right > button {
  margin: 0 20px;
}


/* journey track */

#journey-track {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#journey-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

div.ui.vertical.accordion.fluid.menu {
  margin: 0;
}

div.ui.medium.image {
  width: 155px;
}

.form-container {
  width: 650px;
}

form.ui.form.form-container {
  margin-bottom: 30px;
}

.tagline {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#client-profile {
  overflow: auto;
  margin-bottom: 2%;
}

.back-button {
  float: right;
}

/* --- Home --- */

