/* Login page */

#login-page,
#register-home-page {
    width: 100vw;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#register-home-page {
    margin-top: 5%;
}

.login-container {
    width: 400px;
}

/* register/home page */

.home-page {
    padding: 0 50px;
    text-align: justify;
}

.register-container {
    padding: 0 8%;
}

