#caseload {
    overflow: auto;
}

div.client-card > a {
    width: 293px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;

}

div.client-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.adjust-image {
    height: 256px;
    object-fit: cover;
}